@import '../../../themes/cobra-theme.scss';
.component {
  margin-left: 30px;
  margin-top: 29px;
}

.filter {
  width: 200px;
  height: 30px;
  margin: 10px 0px 0px 30px;
}
.search{
  width: 15%; 
  padding-right: 68px;
}

.restrictUser {
  color: $color-third;
}

.loginAsUser {
  color: $color-success;
}
:host ::ng-deep .ngx-container {
  padding-left: 0px;
  margin-left: 0px;
}

:host ::ng-deep .ngx-table {
  color: $color-drawer !important;
  background-color: #f3f3f3 !important;
  text-align: center !important;
  width: 100%;
}

:host ::ng-deep .ngx-table tr {
  background-color: white !important;
  text-align: center !important;
}

:host ::ng-deep .ngx-table th {
  color:white !important;
  font-size: 14px !important;
  border-bottom: 10px solid $color-gray-light !important;
  background-color: $color-button !important;
  border-right: 0px !important;
  border-top: 0px !important;
}

:host ::ng-deep .ngx-table td {
  border-bottom: 10px solid $color-gray-light !important;
  border-right: 0px solid;
}

:host ::ng-deep tr {
  border-bottom: 2px solid #e7e9ed;
}

:host::ng-deep ul.ngx-pagination .current {
  background-color: #3080e3;
}
