<div class="component">
  <div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <h2 *ngIf="!payConfi">Débito automático</h2>
  <app-table-automatic-debits
    *ngIf="payTable"
    [data]="automaticDebitDS"
    (eventDataHigh)="conFigHight($event)"
    (eventDataLow)="conFigLow($event)"
  ></app-table-automatic-debits>
  <app-confir-auto-debits
    *ngIf="payConfi"
    [data]="newAP"
    [property]="property"
    [index]="index"
    [bankAccounts]="bankAccounts"
    (eventBtn)="conFigBtn($event)"
  ></app-confir-auto-debits>
</div>
