<div class="component">
    <div *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <h2>Libre Deuda</h2>
    
    <div>
        <form>
            <mat-form-field class="search" appearance="outline" floatLabel="always">
                <mat-label>Búsqueda general</mat-label>
                <input type="text" (input)="filter($event.target.value)" matInput>     
            </mat-form-field>
            <div>* Demora de aproximadamente 5 minutos para que se actualiza el reporte en Oracle una vez que se le notifique al cliente</div>
        </form>
    
        <ng-container>
            <div class="column col-12" style="padding: 10px 20px 20px 0px;">
                <ngx-table
                    #tablaLibreDeuda
                    [data]="clientesLibreDeuda"
                    [configuration]="configuracionLibreDeuda"
                    [columns]="columnasLibreDeuda"
                    [noResultsTemplate]="noResultsTemplate">
                </ngx-table>
            </div>
    
            <ng-template #enviarMailBtn let-row>
                <div #tooltip="matTooltip" matTooltip="Enviar mail de Libre Deuda" [matTooltipShowDelay]=2000>
                    <button mat-mini-fab class="mailBtn" color="primary" (click)="confirmDebtFreeEmail(row)">
                        <mat-icon class="mailIcon">outgoing_mail</mat-icon>
                    </button>
                </div>
            </ng-template>
    
            <ng-template #noResultsTemplate>
            <td [attr.colspan]="columnasLibreDeuda.length" class="no-results">
                {{isLoading ? 'Cargando...' : 'No hay información disponible para el filtro seleccionado'}}
            </td>
            </ng-template>
        </ng-container>
    </div>
</div>