<div class="component">
    <div *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <h2>Usuarios creados</h2>

    <mat-tab-group (selectedTabChange)="_onTabChanged($event);">
        <mat-tab label="Usuarios Creados">
            <div class="columns tab">
                <div style="display: inline">
                    <label class="lblFiles">Búsqueda general</label>
                    <mat-form-field style="width: 152px; padding-right: 68px;" appearance="outline">
                        <input type="text" (input)="filterOk($event.target.value)" matInput>
                    </mat-form-field>
                </div>
                <ng-container>
                    <div class="column col-12" style="margin-top: 20px;">
                        <ngx-table #tableOk [data]="createdUserOk" [configuration]="configuration"
                            [columns]="columnsCreatedOk" [noResultsTemplate]="noResultsTemplateOk">
                        </ngx-table>
                        <span class="ngx-pagination-span">Mostrar Resultados</span>
                    </div>
                    <ng-template #noResultsTemplateOk>
                        <td [attr.colspan]="columnsCreatedOk.length" class="no-results">
                            {{isLoading ? 'Cargando...' : 'Sin resultados'}}
                        </td>
                    </ng-template>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Usuarios con Error">
            <div class="columns tab">
                <div style="display: inline">
                    <label class="lblFiles">Búsqueda general</label>
                    <mat-form-field style="width: 152px; padding-right: 68px;" appearance="outline">
                        <input type="text" (input)="filterError($event.target.value)" matInput>
                    </mat-form-field>
                </div>
                <ng-container>
                    <div class="column col-12" style="margin-top: 20px;">
                        <ngx-table #tableError [data]="createdUserError" [configuration]="configuration"
                            [columns]="columnsCreatedError" [noResultsTemplate]="noResultsTemplate">
                        </ngx-table>
                        <span class="ngx-pagination-span">Mostrar Resultados</span>
                    </div>
                    <ng-template #errorDescription let-row>
                        {{row.error[0].Description}}
                    </ng-template>
                    <ng-template #noResultsTemplate>
                        <td [attr.colspan]="columnsCreatedError.length" class="no-results">
                            {{isLoading ? 'Cargando...' : 'Sin resultados'}}
                        </td>
                    </ng-template>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>