$color-primary: #34495e;
$color-primary-dark: #1f2e3c;
$color-secondary: #14538c;
$color-third: #ff8f00;


$color-warning: #f0ad4e;

$color-accent: $color-third;
$color-info: $color-secondary;
$color-gray-custom: #939393;
$color-gray: #c5c5c5;
$color-gray-light: #f3f3f3;
$color-gray-dark: #757575;
$color-white: white;
$color-drawer:#002f55;
$color-button:#3080e3;
$color-error:#ff1200;
$color-success: #099d45;